*{
    margin: 0;
    padding: 0;
}
.top{
    padding-top: 99;
}
.header{
    padding-top: 39px;
    padding-bottom: 39px;
}
.top_content{
    margin-top: 160px;
    margin-bottom: 197px;
}
.subtitle{
    margin-bottom: 10px;

}
.title{
    margin-bottom: 40px;
}
.top_buttons{
    margin-top: 50px;
}
.content{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,362px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item{     
    background:#132035;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;

}
.item_big{    
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}
.heading{
    font-style: normal;
    color:  #FFF;
    text-align: center;
    font-size: 25px;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 125%;
}
.item__text{
    color:  #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 26px;
}